@model List < firstday.Models.employee>
@{
    ViewBag.Title = "index";
    int sn= 0;
}
<link rel="stylesheet" href="~/Content/index.css"/>
<div id="form">
<h2>Employees</h2>
@using (Html.BeginForm("Index", "rahul", FormMethod.Get))
{
    @Html.TextBox("searching")<input class="btn" type="submit" value="Search"/>
}
<table class="table table-striped">
    <tr>
        <th>SN</th>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
    </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5" style="color:red">
                    No data matched
                </td>
            </tr>
        }
   else
   {

        foreach(var item in Model)
        {
            <tr>
             <td>@(++sn)</td>
             <td>@item.id</td>
             <td>@item.name</td>
             <td>@item.address</td>
            <td>@item.contact</td>
            <td>
                <a href="@Url.Action("edit",new {id=item.id})"><h4>Edit</h4></a>
            </td>
            <td>
                <a href="@Url.Action("deleteData",new {id=item.id})"><h4>Delete</h4></a>
            </td>
            </tr>
         }
   }
</table>
</div>
<a href="@Url.Action("create")"><h4>Add new records</h4></a>

<script src="~/Scripts/index.js"></script>

